.VideoDisplay {
    width: 60%;
    margin: 20px auto;
}

#search {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

#yt-url-input {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;
    font-family: "Modern Latin";
}